<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdSyWV-MwlEQ4kxFO8PJyMMfS4oYgaoYU</string>
	<key>GCM_SENDER_ID</key>
	<string>27292316774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.collegebustracking.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>foodcaloriesdetection</string>
	<key>STORAGE_BUCKET</key>
	<string>foodcaloriesdetection.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27292316774:ios:d55cde830508e0b2b1e9a7</string>
	<key>DATABASE_URL</key>
	<string>https://foodcaloriesdetection-default-rtdb.firebaseio.com</string>
</dict>
</plist>